.toolTip {
  position: absolute;
  z-index: 500;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  color: #fff;
  font: 700 0.875rem "IBM Plex Mono", monospace;
  max-width: 170px;
  border-radius: 2px;
}
